{{extend 'layout.html'}}
<div class="container-fluid">
<div class="row">
  <div class="col-xs-12">
	<h3 class="text-center lead"><strong>{{=report_name}}</strong></h3> 
	<h5>说明:<br />
	1、当日出勤数据同步时间为11:30、17:30分,同步后显示当日的出勤，否则显示昨天的出勤.<br />
	2、二次打卡的判断依据为打卡时间间隔30分钟以上.</h5>
	<h6 class="text-right">报表时间:{{=request.now.strftime("%Y-%m-%d %H:%M")}}</h6>
	<div class="panel panel-info">
	<table class="table table-hover table-bordered table-condensed"> 
	    <thead>
	    {{for head in tableHead:}}
		<th class="text-center info">{{=head}}</th>
		{{pass}}
	    </thead>
	    <tbody> 
                {{rank=1}}
                {{for sensus in result:}}
                    {{if sensus[0]=="分公司":}}
                        <tr class="text-center success">
                    {{else:}}
                        <tr class="text-center ">
                        {{pass}}
                    {{i=0}}
                    {{while i < len(sensus)-1:}}
                        {{if i==0 :}}
                            <td>{{=A(sensus[i],_href=URL('gx_cq_day_aracde',args=[next_page,sensus[-1]]))}}</td>
                        {{else:}}
                            <td>{{=sensus[i] or 0}}</td>
                        {{pass}}
                        {{i+=1}}
                    {{pass}}
                    </tr>
                {{pass}}
            </tbody>
	</table>
	</div>
  </div>
  {{include 'comment_template.html'}}
</div>
</div>
