{{extend 'layout.html'}}
<div class="container-fluid">
<div class="row">
  <div class="col-xs-12">
	<h3 class="text-center lead"><strong>{{=report_name}}</strong></h3> 
	<h6 class="text-right">报表时间:{{=request.now.strftime("%Y-%m-%d %H:%M")}}</h6>
	<table class="table table-hover table-bordered table-condensed"> 
	    <thead>
	    {{for head in tableHead:}}
		<th class="text-center info">{{=head}}</th>
		{{pass}}
	    </thead>
	    <tbody> 
	        {{rank=1}}
		{{for sensus in result:}}
		    {{if sensus[0]=="分公司":}}
		        <tr class="text-center success"> 
		    {{else:}}
		        <tr class="text-center "> 
		        {{pass}}
		    {{i=0}}
		    {{while i < len(sensus)-1:}}
			{{if i==20:}}
			    <td>{{=A(sensus[i] or 0,_href=URL('gx_ssyj_day_sl_list/423/'+aracde,args=sensus[-1]))}}</td>
			{{elif i==30:}}
			    <td>{{=A(sensus[i] or 0,_href=URL('gx_ssyj_day_ys_list/423/'+aracde,args=sensus[-1]))}}</td>
			{{elif i==40:}}
			    <td>{{=A(sensus[i] or 0,_href=URL('gx_ssyj_day_cb_list/423/'+aracde,args=sensus[-1]))}}</td>
			{{else:}}
			    <td>{{=sensus[i] or 0}}</td>
			{{pass}}
			{{i+=1}}
		    {{pass}}
		    {{if sensus[0]!="分公司":}}
			<td>{{=rank}}</td>
		        {{rank+=1}}
		    {{else:}}
		        <td></td>
		        {{pass}}
		    </tr>
		{{pass}}
	    </tbody>
	</table>
  </div>
  {{include 'comment_template.html'}}
</div>
</div>
