{{extend 'layout.html'}}
<div class="container-fluid">
<div class="row">
  <div class="col-xs-12">
	<h3 class="text-center lead"><strong>{{=report_name}}</strong><small>{{=' '+request.now.strftime("%Y-%m-%d %H:%M")}}</small></h3>
	<small>
	报表说明：<br />
	1.报表为月报表，每天早上8点更新截止到昨天数据;<br />
	2.主管人力为（AS,SS,UM,AD,HD,SZB,SZC,SZD）的职级的在职人力;<br />
	3.主管万元件件数为承保新单单件标保 >=10000P件数且销售职级为（AS,SS,UM,AD,HD,SZB,SZC,SZD）;<br />
	</small>
	<div class="panel panel-info">
	<table class="table table-hover table-bordered table-condensed"> 
	    <thead>
	    {{for head in tableHead:}}
		<th class="text-center info">{{=head}}</th>
		{{pass}}
	    </thead>
	    <tbody> 
		{{for sensus in result:}}
		    {{if sensus[0]=="合计":}}
		        <tr class="text-center success"> 
		    {{else:}}
		        <tr class="text-center "> 
		    {{pass}}
		
		    {{i=0}}
		    {{while i < len(sensus)-1:}}
		        {{if i==3:}}
		            <td>{{=str(sensus[i])[:-2]+'%'}}</td> 
		        {{elif i>=1:}}
		            <!--<td>{{=str(sensus[i])[:-2]+'%'}}</td> --!>
		            <td>{{=int(sensus[i])}}</td> 
		        {{else:}}
		            <td>{{=sensus[i]}}</td> 
		        {{pass}}
		        {{i+=1}}
		    {{pass}}
		    </tr>
		{{pass}}
	    </tbody>
	</table>
	</div>
  </div>
  {{include 'comment_template.html'}}
</div>
