{{extend 'layout.html'}}
<body id="main_bg">
<div class="row" >
      	<div class="span5 offsetHalf block">
          <div class="pull-center">
            <h1>响应式设计</h1>
            ... <br>
            <h1><i class="icon-beaker icon-4x"></i></h1>
            <button class="btn btn-primary btn-flat">立刻了解<i class="pull-right icon-chevron-right icon-large"></i></button>
          </div>
      	</div>
      	<div class="span5 block">
          <div class="pull-center">
      	 	<h1>2015设计</h1>
          	...<br>
          	<h1><i class="icon-fire icon-4x"></i></h1>
          	<button class="btn btn-primary btn-flat">立刻了解<i class="pull-right icon-chevron-right icon-large"></i></button>
          </div>
      	</div>
      	<div class="span5 block">
          <div class="pull-center">
      	 	<h1>2015设计</h1>
          	...<br>
          	<h1><i class="icon-fire icon-4x"></i></h1>
          	<button class="btn btn-primary btn-flat">立刻了解<i class="pull-right icon-chevron-right icon-large"></i></button>
          </div>
      	</div>
      	<div class="span5 block">
          <div class="pull-center">
      	 	<h1>2015设计</h1>
          	...<br>
          	<h1><i class="icon-fire icon-4x"></i></h1>
          	<button class="btn btn-primary btn-flat">立刻了解<i class="pull-right icon-chevron-right icon-large"></i></button>
          </div>
      	</div>
</div>
</body>
