{{extend 'layout.html'}}
<h3 class="text-center lead">可用额度表</h3> 
<div class="row">
<div class="col-md-10">
<table class="table table-hover table-bordered "> 
    <thead>
        <th colspan='4' class="text-center warning"></th> 
	<th colspan='8' class="text-center info">额度信息</th> 
	<th colspan='14' class="text-center warning">支出信息</th> 
	<th colspan='1' class="text-center info"></th>
    </thead> 
    {{for head in count_head:}} 
        <th class="text-center success">{{=head}}</th> 
    {{pass}}
    <tbody> 
    	{{for page in count:}}
        <tr class="text-center"> 
	{{i=0}}
	{{while i < len(page):}}
	    <td>{{=page[i]}}</td> 
	    {{i+=1}}
	    {{pass}}
	</tr>
	{{pass}}
	<p class="text-info">共计{{=len(count)}}条记录</p>
</table>
</div>
<div class="col-md-2">
{{=form}}
<a href="{{=down_url}}">下载当前数据</a>
</div>
